
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    font-family: 'Poppins';
}

.container{
    margin: 0px;
}

nav{
    background-color: #191e23;
    color: white;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 4rem 8rem;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a{
    
    border-radius: 20px;
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease-out;
}

.site-title span{
    font-weight: bold;
    
}

 .active{
    padding: 10px 20px;
    background-color: rgb(0, 228, 87);
}
.active:hover{
    padding: 10px 20px;
    background-color: rgb(0, 170, 65);
}

.nav li:hover{
    background-color: #777;
}


.section1{
    width: 100%;
    background-color: #191e23;
    padding: 50px 6rem;
    color: white;
}

.section1 h1{
    font-size: 3.5rem;
    transition: 0.3s ease-out;
}

.section1 h1:hover{
    font-size: 3.8rem;
}

.section1 p{
    margin-top: 2rem;
}

.col-container{
    display: flex;
    justify-content: space-between;
}

.col2{
    width: 22rem;
}

.col2 h2{
    margin-bottom: 45px;
    font-size: 60px;
}

.labels{
   display: flex;
}

.col2 label{
    margin-right: 1rem;
    border: 1px solid #fff;
    padding: 18px 30px 18px 10px;
    border-radius: 5px;
    background-color: #555;
    font-size: 16px;
    transition: 0.3s ease-out;
}

.col2 label:hover{
    background-color: #fff;
    color: #000;
}

.col2 input{
    margin-right: 5px;
}

.col2 button{
    width: 100%;
    height: 5rem;
    margin-top: 4rem;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 228, 87);
    cursor: pointer;
    transition: 0.3s ease-out;
}

.sub-section{
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
}

.col2 button:hover{
color: #000;
}

.sub-section-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-section-col .circle{
    width: 80px;
    height: 80px;
    background-color: #000;
    border-radius: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-section-col .circle h5{
    font-size: 30px;
}



.sub-section-col p{
    text-align: center;
    color: #acacac;
}


.section2{
    padding: 40px 15rem;
}

.section2-row{
    margin-top: 80px;
}

.section2 h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.section2 .span1{
    color: rgb(255, 46, 115);
}

.section2 .span2{
    color: rgb(52, 29, 155);
}

.section3{
    padding: 80px 10rem;
    background-color: #181818;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section3 .container{
    width: 100%;
    margin: 80px 0;
    background-color: #181818;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3-div{
    text-align: center;
}

.section3-div p{
    margin-top: 15px;
    color: #acacac;
}



.section3 h2{
    font-size: 50px;
    font-weight: lighter;
}

.section3-col{
    margin-top: 50px;
    display: flex;
    gap: 8rem;
}

.section3-col h4{
    font-size: 18px;
    font-weight: lighter;
}

.section3 hr{
width: 100%;
border-width: 2px;
margin-top: 20px;
margin-bottom: 20px;
}

.profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section3a{
    padding: 80px 8rem;
}

.profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section3a h3{
    font-size: 30px;
}


.section3a .active{
    padding: 8px 18px;
    background-color: rgb(0, 228, 87);
    border-radius: 30px;
    text-decoration: none;
    color: white;
}

.profile-row{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    margin: 40px auto;
    gap: 20px;
    justify-content: center;
}

.profile-card{
    width: 270px;
    height: 300px;
    border-radius: 10px;
    background: url(images/user1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-card2{
    width: 270px;
    height: 300px;
    border-radius: 10px;
    background: url(images/user5.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-card3{
    width: 270px;
    height: 300px;
    border-radius: 10px;
    background: url(images/user3.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-card4{
    width: 270px;
    height: 300px;
    border-radius: 10px;
    background: url(images/user4.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-card5{
    width: 270px;
    height: 300px;
    border-radius: 10px;
    background: url(images/b1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-card6{
    width: 270px;
    height: 300px;
    border-radius: 10px;
    background: url(images/b5.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-card7{
    width: 270px;
    height: 300px;
    border-radius: 10px;
    background: url(images/b6.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-card8{
    width: 270px;
    height: 300px;
    border-radius: 10px;
    background: url(images/b4.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.online{
    width: 100%;
    height: 50px;
    background-color: transparent;
}

.profile-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0.8rem;
    background-color: rgba(245, 245, 245, 0.8) ;
}

.profile-info h4{
    font-size: 22px;
}

.profile-info i{
    font-size: 24px;
}

.profile-info span{
    font-weight: normal;
}



.section4{
    background-color: #000;
    color: white;
    padding: 60px 10rem;
}

.section4 h1{
    font-size: 60px;
    transition: 0.3s ease-in;
}

.section4 h1:hover{
    font-size: 50px;
}

footer{
    background-color: #000;
    padding: 20px 30px;
    color: white;
}

footer hr{
    border-width: 0.5px;
}

footer p{
    font-size: 12px;
    color: #a0a0a0;
    margin-top: 20px;
}
/*-------------- SUBSCRIBE-----------*/

.main-container{
   width: 100%;
   height: 100%;
   padding: 50px 10rem;
   background: #191e23; 
}

.sub-container{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #777;
    padding: 30px 40px;
    display: flex;
    color: white;
    justify-content: space-between;
}

.sub-col1{
    width: 450px;
}

.sub-col1 h3{
    margin-bottom: 30px;
}

.sub-col1 p{
    margin-bottom: 8px;
    font-size: 14px;
}

.sub-col1 .input{
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 15px;
    background-color: #191e23;
    border: 1px solid #777;
    border-radius: 5px;
    color: white;
}

.inputs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.sub-col1 button{
    width: 100%;
    padding: 15px 15px;
    margin-top: 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 228, 87);
    border: none;
    border-radius: 5px;
}

.sub-col2{
    width: 450px;
}

.sub-col2 img{
    width: 450px;
   
}

@media  (max-width: 900px){

    .section3a{
        padding: 40px 2rem;
    }

    .profile-header h3{
        font-size: 18px;
        padding: 0;
    }

    .profile-header .active{
        padding: 5px 10px;
    }

    nav{
    padding: 2rem 3rem;
}

    .main-container{
        padding: 50px 2rem;
     }

     .col-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col2 label{
    margin-right: 0px;
    
}

.section1{
    padding: 50px 4rem;
    text-align: center;
}

.labels{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.sub-section{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.section2{
    padding: 40px 3rem;
}

.section2 p{
    color: #555;
}

.col2{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

    .sub-col2{
        width: 450px;
        
    }

    .col2 h2{
        font-size: 40px;
    }

    .col2 label{
    margin-right: 10px;
    border: 1px solid #fff;
    padding: 14px 40px 14px 5px;
    border-radius: 5px;
    background-color: #555;
    font-size: 13px;
}


    .sub-col2 img{
        width: 250px;
        display: none;
    }

    .sub-container{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .sub-col1{
        width: 100%;
    }


    .section3 .container{
    width: 100%;
   
}

.section3-col{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.section3{
    text-align: center;
    padding: 80px 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section3 .container{
    width: 100%;
    margin: 80px 0;
    background-color: #181818;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 hr{
width: 100%;
}



.section4{
    padding: 40px 4rem;
}

.section4 h1{
    font-size: 40px;
}

/*-------------- SUBSCRIBE-----------*/

.sub-container{
    padding: 30px 15px;
    border-radius: 10px;
}

.main-container{
   padding: 20px 20px; 
}

.inputs{
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.cus{
    font-size: 14px;
    color: #9c9c9c;
}

#exMonth, #exYear{
    width: 80%;
}

#bbb{
    margin-bottom: 30px;
    width: 20%;
}

.col2 button{
    font-size: 15px;
}

}





/*-------------- PREVIEW-----------*/

.prev-container{
    background-color: #191e23;
    padding: 50px 8rem;
    color: #fff;
}

.prev-container h1{
    font-size: 40px;
}

.grid{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.grid-container{
    width: 300px;
    padding: 0px 1rem;
    padding-bottom: 10px;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    transition: 0.3s ease-out;
}

.grid-container:hover{
    transform: translateY(10px);
}

.grid-container h2{
    font-size: 45px;
    font-weight: bold;
}

.amount{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: flex-end;
}

.amount p{
    margin-left: 10px;
    transform: translateY(-10px);
}

.btn-container{
    margin: 20px auto;
}

.btn-container button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    background-color: rgb(0, 228, 87);
    transition: 0.3s ease-out;
}

.btn-container button:hover{
    background-color: rgb(0, 170, 65);
    color: #fff;
}

.grid p{
    font-size: 12px;
    color: #b8b8b8;
}

.grid h4{
    margin-top: 25px;
    margin-bottom: 5px;

}

.btn-container a{
    cursor: pointer;
}

.btn-container a:hover{
    background-color: aqua;
}

.features{
    margin-top: 15px;
}

.ft-items{
    display: flex;
    margin-top: 8px;
}

.ft-items img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}


.ft-items p{
    font-size: 12px;
}

.prev-foot{
background-color: #191e23;
}

.alert{
    color: red;
    font-size: 12px;
    display: none;
}

.subber{
    display: flex;
    justify-content: space-between;
}

.first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag{
    align-self:last baseline;
    padding: 5px 5px;
    border-radius: 20px;
    background-color: rgb(0, 211, 81);
    margin-bottom: 5px;
}

.tag p{
    color: rgb(0, 0, 0);
    font-size: 10px;
}



@media (max-width: 1200px){
    .prev-container{
        padding: 50px 5rem;
    }
}


@media (max-width: 1100px){


    .sub-container{
        display: flex;
        flex-direction: column;
    }

    .sub-col1{
        width: 100%;
    }

    .sub-col2 img{
        display: none;
    }
    
        .section1{
            padding: 50px 2rem;
            text-align: center;
        }

        .section2{
            padding: 50px 3rem;
        }

        .section3{
            padding: 50px 4rem;
        }

        .section4{
            padding: 50px 2rem;
        }

        .prev-container{
            background-color: #191e23;
            padding: 50px 1rem;
            color: #fff;
        }

        .prev-container h1{
            text-align: center;
        }

        .grid{
            margin-top: 100px;
            display: flex;
            gap: 40px;
            flex-wrap: wrap;
            justify-content: center;
        }

        .inputs{
            justify-content: flex-start;
        }
        
        .section3a{

        }

        .profile-row{
            display: flex;
            flex-wrap: wrap;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-top: 40px;
            margin: 40px auto;
            gap: 20px;
            justify-content: center;
        }
        
}
